/* Estilizando a linha de tarefas */
.tarefa {
  border: 1px solid #404040;
  border-radius: 5px;
  padding: 20px;
  display:flex;
  min-width: 400px;
}

/* Estilizando barra para adicionar nova tarefa */
footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width:100vw;
  display:flex;
  align-items: center;
}

#novaTarefa {
  padding-left: 0;
  width: 100%;
  border-radius: 5px;
}

.addButton {
  font-size:30px;
  color: #fff;
}

.fa-plus-circle:active{
  box-shadow: 0 3px 0 #fff;
  top: 3px;
}