/* Estilizando a linha de tarefas */
.tarefa {
  border: 1px solid #404040;
  border-radius: 5px;
  padding: 20px;
  display:flex;
  min-width: 400px;
}

.fa-plus-circle:active{
  box-shadow: 0 3px 0 #fff;

}

.fa-plus-circle {
  font-size: 40px;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  width:100vw;
  display:flex;
  align-items: center;
}

#novaTarefa {
  width: 80%;
  border-radius: 5px;
}